/* jetbrains-mono-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/jetbrains-mono-v18-latin-regular.woff2") format("woff2");
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
	background-color: #1a1b26;
	color: #cdd6f4;
	font-family: sans-serif;
	color-scheme: dark;
	font-size: 1.6em;
	text-align: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0rem;
	display: inline-block;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	50% {
		scale: 1 1.5;
	}

	to {
		rotate: 360deg;
	}
}

#blob {
	background-color: white;
	height: 30vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
	background: linear-gradient(to right, indianred, lightseagreen);
	animation: rotate 20s infinite;
	opacity: 0.8;
	z-index: -2;
}

#blur {
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: -1;
	backdrop-filter: blur(12vmax);
}

.center {
	width: 50%;
	padding: 10px;
}

.kmapButtons {
	height: 12mm;
	width: 13mm;
	opacity: 0.7;
}

.mono {
	font-family: "JetBrains Mono", monospace;
	font-size: 0.8em;
}

h1 {
	color: #e0af68;
	font-size: 1.8em;
}

h2 {
	color: #7aa2f7;
	font-size: 1.8em;
}

h4 {
	text-decoration: underline;
}

h4,
h5 {
	line-height: 0.5em;
}

/* make the button font size larger */
input[type="button"] {
	font-size: 0.8em;
}

/* make the variable buttons larger */
input[type="radio"] {
	height: 1.5em;
	width: 1.5em;
}
